image:
  registry: docker.io
  repository: bitnamilegacy/kafka
  tag: 3.7.1-debian-12-r4

kraft:
  enabled: true

zookeeper:
  enabled: false

controller:
  replicaCount: 1

broker:
  replicaCount: 1

global:
  storageClass: local-path

persistence:
  enabled: true
  size: 5Gi

auth:
  clientProtocol: plaintext
  interBrokerProtocol: plaintext
  sasl:
    enabled: false
tls:
  enabled: false

extraConfig:
  offsets.topic.replication.factor: 1
  transaction.state.log.replication.factor: 1
  transaction.state.log.min.isr: 1
  default.replication.factor: 1
  min.insync.replicas: 1

resources:
  requests:
    cpu: 250m
    memory: 1Gi
  limits:
    cpu: 1
    memory: 2Gi
